extends layout
block content
  #pageHeader
    | Shows
  .showTable
    table
      tr
        th
          | Date
        th
          | Location
        th
          | With
      each d in result
        tr
          td #{d.day}
          td 
            ul
              li #{d.city}, #{d.state}
              li #{d.venue}
          td #{d.bands}
   